tensorflow==2.12.0

numpy==1.24.2

pandas==2.0.0

pyparsing==3.0.9         

sklearn==0.23.0

python-dateutil==2.8.2   

pytz==2023.3             

scipy==1.10.1             

seaborn==0.12.2

six==1.16.0         

matplotlib==3.7.1
