tensorflow==2.10.0

numpy==1.23.4

pandas==1.5.1

pyparsing==3.0.9         

sklearn==0.23.0

python-dateutil==2.8.2   

pytz==2022.6             

scipy==1.9.3             

seaborn==0.12.1

six==1.16.0         

matplotlib==3.6.1
