
renovate/ansible-lint-5.x
renovate/ansible-5.x
renovate/ansible-5.x
ansible==6.1.0
ansible-lint==6.3.0
=======
ansible==6.1.0
ansible-lint==6.3.0
main

ansible==6.1.0
=======
renovate/ansible-5.x
ansible==6.1.0
ansible-lint==6.3.0
=======
ansible==6.1.0
ansible-lint==6.3.0
main

ansible==6.1.0
main
ansible-lint==6.3.0
=======
renovate/ansible-5.x
ansible==6.1.0
ansible-lint==6.3.0

ansible==6.1.0
ansible-lint==6.3.0
=======
ansible==6.1.0
ansible-lint==6.3.0

ansible==6.1.0
ansible-lint==6.3.0
main
main

